{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "An empty CloudFormation template.",
    "Parameters": {
    
    },
    "Metadata": {

    },
    "Mappings": {

    },
    "Conditions": {

    },
    "Resources": {

    },
    "Outputs": {

    }
}